extends layout
include games/blocks.pug

block content
  div.box
    h1 Emanuel (Hazel) Charron-Blais
    p Aspiring Game Developer - Solo Indie Game Developer
    p.bySide NB, Canada 
    p.bySide 📧 naradoxy@gmail.com
    a.bySide(href="https://www.linkedin.com/in/emanuel-charron-blais-8a42a0302/") Linkedin
    a.bySide(href="portfolio") Portfolio
  div.box
    h2 Summary / Objective
    p I'm a lifelong gamer turned developer who's built game projects since age 10.
    p Passionate about small-team collaboration and crafting memorable gameplay experiences.
    p Seeking a junior role where I can help bring creative visions to life while learning from seasoned devs.
  div.box
    h2 Skills
    p Engines: Godot (primary), Unreal, Gamemaker
    p Languages: C#, GDScript, GDShader, GameMakerLanguage, Java, JavaScript, HTML/CSS, Pug
    p Tools & Art: Krita, DaVinci Resolve, Blender (basic), Paint.NET, Audacity, Soundtrap
    p Version Control: Git, Github, Sourcetree, Github Desktop
  div.box
    h2 Education
    p Game Design Course, CircuitStream (via University of Toronto)
    p   Feb 2025 - Sep 2025
    p High School Diploma, École Polyvalente Louis-J.-Robichaud
    p   Graduated 2024
  div.box
    h2 Additional
    p Languages: English (fluent), Français (first language), Norsk (conversational), Dutch (learning)
    p Art & Audio: Personal art (Krita), quick‑prototype art (Paint.NET), music tracks on Soundtrap (learning FL Studio)
  +game("dd")
  +game("pb")
  +game("wcp")
  +game("hvw")
  div.box
    h2 Projects
    p Deeper Darker (Godot, 2025)
    p - Solo dev 
    p - Fully networked first person horror game built in 1-2 weeks. The game was incomplete but fully playble with working game loop.
    a(href="https://naradoxy.itch.io/deeper-darker") - Link Here (password is 123)
    br
    br
    p Punch Ball (Godot, 2025)
    p - Solo dev 
    p - Local team-vs-team party game; playable build & source available.
    a(href="https://naradoxy.itch.io/punch-ball") - Link Here 
    br
    br
    p Wizard Cat Proto (Gamemaker, 2024)
    p - Solo dev 
    p - Roguelike prototype with custom spell-casting system; built in 1-2 weeks.
    a(href="https://naradoxy.itch.io/wizard-cat-proto") - Link Here (password is 456)
    br
    br
    p Hazel’s Various Wings (IntelliJ, 2024)
    p - Solo dev 
    p - Minecraft mod that adds wings to allow the player to fly.
    a(href="https://modrinth.com/mod/hazels-various-wings") - Link Here
