extends layout

block content
  p Emanuel (Hazel) Charron-Blais
  p Aspiring Game Developer - Solo Indie Game Developer
  p NB, Canada 
  p 📧 naradoxy@gmail.com
  a(href="https://www.linkedin.com/in/emanuel-charron-blais-8a42a0302/") Linkedin
  a(href="entrance") Portfolio
  p 
  p
  p Summary / Objective
  p 
  p Lifelong gamer turned developer who's built prototypes solo since age 10.
  p Passionate about small-team collaboration and crafting memorable gameplay experiences.
  p Seeking a junior role where I can help bring creative visions to life while learning from seasoned devs.
  p 
  p 
  p Skills
  p 
  p Engines: Godot (primary), Unreal, Gamemaker
  p Languages: C#, GDScript, GDShader, GameMakerLanguage, Java, JavaScript, HTML/CSS, Pug
  p Tools & Art: Krita, DaVinci Resolve, Blender (basic), Paint.NET, Audacity, Soundtrap
  p Version Control: Git, Github, Sourcetree, Github Desktop
  p 
  p 
  p Education 
  p 
  p Game Design Course, CircuitStream (via University of Toronto)
  p   Feb 2025 - Sep 2025
  p High School Diploma, École Polyvalente Louis-J.-Robichaud
  p   Graduated 2024
  p 
  p 
  p Projects
  p 
  p Deeper Darker (Godot, 2025)
  p   Solo dev 
  p   Fully networked first person horror game built in a week or two. The game was incomplete but fully playble with working game loop.
  p   Link (password is 123): a(href="https://naradoxy.itch.io/deeper-darker") Here

