extends layout

block content
  a(href="cv") CV here
  p About me:
  p Hi, I'm Emanuel but I often go by Hazel. I like drawing for fun, sometimes making music, playing games to get all the achivements, taking care of my cats, and certainly making games. Growing up, I loved playing all sorts of games but also making them. Starting with paper and dice, to then go use educational programming tools at age 10, to now having used a plethora of tools and engines for making whatever I want. All this time I've been making games pretty much solo, but I am so excited to take the next steps and delve into the industry and work in a team who love games an genuinely as I do. For me it's not just about finishing a game; It's about the process and crafting an experience for others to enjoy.

