extends layout

block content
  div.box
    h2 Do note, this site is a WIP (work in progress)
    br
    p Hello! I like making games and this is my silly website :D
    a(href="cv") If you want to skip right to my CV, click here
    br
    a(href="portfolio") And for my portfolio, click here
    br
    br
    p If you're intending on hiring me or just curious about who I am (in a job sense), you're in the right place.
    p I've built this site myself with self teaching. I think a silly handmade website stands out way more than a simple linkedin page (I do have one of those too).
    p You're already on the github page for the site, but:
    a(href="https://github.com/Naradoxy/hazelWebsite") Here it is anyways.
    br
    br
    p That's kind of it for now!
