extends layout

block content
  p Hello! I like making games and this is my silly website :D
  a(href="cv") If you want to skip right to my CV, click here
  p
  a(href="entrance") If you want me to see my portfolio, click here
  p If you don't want to see anything here then I'm not sure this site is for you lol.
