extends layout

block content
  h2 Do note, this site is a WIP (work in progress)
  br
  p Hello! I like making games and this is my silly website :D
  a(href="cv") If you want to skip right to my CV, click here
  br
  br
  p This site is intended to be my portfolio, so if you're intending on hiring me or just curious about who I am (in a job sense), you're in the right place.
  p I've built this site myself with self teaching. I think a silly handmade website stands out way more than a simple linkedin page (I do have one of those too).
  p You're already on the github page for the site, but:
  a(href="https://github.com/Naradoxy/hazelWebsite") Here it is anyways.
  br
  br
  p Alright alright, ready to check out the rest of the site?
  a(href="entrance") Start your adventure here!
  br
  br
  p If you don't care about any of this and want to skip to the good stuff:
  a(href="juice") you can go here!
  br
  br
  p That's kind of it!
