extends layout

block content
  div.box
    h2 Do note, this site is a work in progress
    p.bySide I've built this site myself:
    a.bySide(href="https://github.com/Naradoxy/hazelWebsite") here's the github page.
  div.box
    p Hello, I'm Emanuel but I commonly go by Hazel.
    p I graduated high school and I'm taking a game design course by Circuit Stream offered through the University of Toronto.
    p I grew up playing and loving video games. I always had a passion for creating my own little paper games. Ever since I discovered programming I've loved making video games.
    p I love playing indie games that go outside the box and try weird things, and that's the kind of things I like making as well.
    p I'd love for nothing more than to be part of a team and be surrounded by experienced devs and to make more than just games, but to make unique and special experiences that speak deeply to the player.
    p I've used many game engines (like Godot and Unreal), tools, and programming languages. Most of what I know I've taught myself, and I'm always looking forwards to learn more!
  div.box
    h2 Links!
    a.bySide(href="cv") CV
    a.bySide(href="portfolio") Portfolio
  div.box
    p That's kind of it for now! Hope your day's going good.
