extends layout
include games/blocks.pug

block content 
    div.container
        div.box
            h1 Emanuel (Hazel) Charron-Blais
            p.bySide Aspiring Game Developer
            p.bySide They/She
            p.bySide Linkedin: https://www.linkedin.com/in/emanuel-charron-blais-8a42a0302/
            p.bySide Email: naradoxy@gmail.com
            p.bySide CV: https://naradoxy.github.io/hazelWebsite/cv
        img.face(src="images/myFace.jpg", alt="Emanuel's profile image")
    div.box
        h2 Intro:
        p Ever since I was very young I have been making games of different sorts. When I was 14 I started using a proper game engine.
        p I still love making games now, especially video games, and I aspire to not only enter the games industry, but to do great things in it.
    div.box
        h2 About me:
        p I enjoy drawing, sometimes making music, playing games to get all the achievements, taking care of my cats, and certainly making games.
        p All this time I've been making games pretty much solo, but I am so excited to take the next steps and delve into the industry and work in a team who love games as genuinely as I do.
        p For me, it's not just about finishing a game; It's about the process and crafting an experience for others to enjoy.
    div.box
        h2 Highlights:
        p Minecraft mod with over 1000 downloads
        p Made many fully networked multiplayer games
        p Skilled with self teaching from a young age
        p Uploaded games to itch.io since 2020
    div.box
        h2 Skills:
        p Engines: Godot (primary), Unreal, Gamemaker
        p Languages: C#, GDScript, GDShader, GameMakerLanguage, Java, JavaScript, HTML/CSS, Pug
        p Tools & Art: Krita, DaVinci Resolve, Blender (basic), Paint.NET, Audacity, Soundtrap
        p Version Control: Git, Github, Sourcetree, Github Desktop
    div.box
        h2 Education:
        p Circuit Stream - Game Design (Feb 2025 - Sep 2025)
        p Offered through the university of Toronto, this is a boot camp that teaches students deep knowledge on game design and prepares them for the industry.
        br
        p High School Diploma, École Polyvalente Louis-J.-Robichaud
        p Graduated 2024
    div.box
        h2 Projects:
    +game("dd")
    +game("pb")
    +game("wcp")
    +game("hvw")
    +game("fhp")
    +game("cm")
    +game("hg")
