mixin game(name)
    .container 
        case name 
            when "dd"
                a(href="dd").project
                    div
                        h3 Deeper Darker (Godot, 2025) Solo
                        p Fully networked first person horror game built in 1-2 weeks. The game was incomplete but fully playble with working game loop.
                        p [Networking, Enemy AI, Implementing sounds]
                    img(src="images/dd0.png", alt="Game screenshot")
            when "pb"
                a(href="pb").project
                    img(src="images/pb0.png", alt="Game screenshot")
                    div
                        h3 Punch Ball (Godot, 2025) Solo
                        p Local team-vs-team party game; playable build & source available.
                        p [Local multiplayer, Polish, Good visuals & sounds]
            when "wcp"
                a(href="wcp").project
                    div
                        h3 Wizard Cat Proto (Gamemaker, 2024) Solo
                        p Roguelike prototype with custom spell-casting system; built in 1-2 weeks.
                        p [System desing, Creative concepts]
                    img(src="images/wcp0.png", alt="Game screenshot")
            when "hvw"
                a(href="hvw").project
                    img(src="images/hvw0.gif", alt="Game screenshot")
                    div
                        h3 Hazel’s Various Wings (IntelliJ, 2024) Teambased: Did everything except the art
                        p Minecraft mod that adds wings to allow the player to fly.
                        p [Java, Quick learning]
            when "fhp"
                a(href="fhp").project
                    div
                        h3 Fjolet Helvete Proto (Godot, 2023) Solo
                        p Multiplayer prototype in the browser, mobile friendly, with tile placement and chat.
                        p [Networking, Custom mobile input system]
                    img(src="images/fhp0.png", alt="Game screenshot")
            when "cm"
                a(href="cm").project
                    video(controls autoplay muted loop)
                        source(src="images/cm0.mp4" type="video/mp4")
                        | Your browser does not support the video tag.
                    div
                        h3 Crank Mansion (Godot, 2023) Teambased: I did most but I got help for some art
                        p First person roguelite about getting artifacts from a haunted mansion. One hour of quality gameplay.
                        p [Quality & quantity, Visuals, Polish]
            when "hg"
                a(href="hg").project
                    div
                        h3 Halloween Grind (GameMaker, 2021) Solo
                        p Muliplayer trick or treat game with upgrades.
                        p [Networking, Polish]
                    img(src="images/hg0.png", alt="Game screenshot")
            default
                a(href="").project
                    img(src="images/dd0.png", alt="Game screenshot")
                    div
                        h3  Solo
                        p a
                        p []
