extends ../layout

block content
    div.container
        div.box
            h1 Deeper Darker (Godot, 2025)
            p In my game design class, I was tasked with making a GDD and a simple prototype from it. I had this idea in my head already for a game inspired by one of those co-op first person horror games. I used the Godot game engine and didn’t use any templates or addons as I prefer working off things that I make myself.
            p The game would be a roguelike where the player and their friends would venture deeper and deeper into abandoned mines infested with comic horror inspired monsters. The players would go out and gather crystals to bring back to the drill pod to power it, allowing them to go deeper underground. I had to complete the project within the short timeframe I was given.
            p I completed the GDD, and started work on the project. My scope wasn’t that small, so by building vertically, I could let myself exit at any point with something still whole. I started with the cave generation. I figured I could make a simple 2D dungeon generator, to then create a bunch of block objects. A ton of meshes everywhere wouldn’t run too great, especially since I was planning to make it run in the browser for ease of playing with others, so I simply combined all blocks into a single render call to the GPU since all the blocks are pretty much the exact same. From there I added multiplayer, before adding in items and the drill pod allowing for the floor to regenerate. With this working, the fun part with the monsters was added to create a complete playing experience. With playtesting with friends, I improved on weaker elements and fixed issues. I sunk a lot of effort because personally I was enjoying this project; I love figuring out how I want systems to work and incorporating them.
            p I completed work in May 2025. I was glad I could manage as much as I did in the little amount of time; also the fact I could polish it with nice art, sounds, and other details. I’m also happy that I could make a fully functional multiplayer game that runs in the browser in the time I had, which proves I understand these things well. I managed to impress my class instructor which was pretty nice.
            a(href="https://naradoxy.itch.io/deeper-darker") - Link Here (password is 123)
        img.ss(src="images/dd0.png", alt="Game screenshot")
        img.ss(src="images/dd1.png", alt="Game screenshot")