extends ../layout

block content
    div.box
        h1 Dead Mice (Unreal 2025)
        p Dead Mice was the capstone project my team did when I was in the Circuit Stream Game Design course offered through the University of Toronto. The game is an autoshooter roguelike set in a rave during a zombie mice apocalypse. I did all the in engine work and the more technical game design. We had four weeks to do everything.
        p [The game is not available to be played - we can arange a private demo if wanted]
    div.container
        img(src="images/dm1.png", alt="Game screenshot")