extends ../layout

block content
    div.box
        h4 Halloween Grind (GameMaker, 2021)
        p Trick or treat multiplayer game to play with friends for an hour. Get more and more upgrades until all have been bought. Only singleplayer version available. Everything was made by myself.
        a(href="https://naradoxy.itch.io/halloween-grind") - Link Here
    div.container
        img.ss(src="images/hg0.png", alt="Game screenshot")
        img.ss(src="images/hg1.png", alt="Game screenshot")