extends ../layout

block content
    div.box
        h1 Wizard Cat Proto (GameMaker, 2024)
        p For a personal project, I wanted to make some gameplay prototypes. For this one, I wanted a roguelike in which the player would pick up scrolls and create custom spells with them. As I developed, I started getting really into it and added a lot to the game. The spell system works by combining an element, an effect, a shape, and a movement to create a unique spell. With this system, the player can create from a fire ball, to an ice block, to even a healing spell. A full game was never made from this prototype, but it was still a good learning experience and it was also just fun for me. If the game was to be made in full, the prototype helped a lot with figuring out what worked and what didn’t.
        p This game allowed me to test game concepts to be able to know what issues those concepts bring so that a proper game can correctly address those. This game features a novel spell casting system that can create a plethora of unique spells. This game was made in 1-2 weeks. Everything was done by myself.
        a(href="https://naradoxy.itch.io/wizard-cat-proto") - Link Here
    div.container
        img.ss(src="images/wcp0.png", alt="Game screenshot")
        img.ss(src="images/wcp1.png", alt="Game screenshot")
        img.ss(src="images/wcp2.png", alt="Game screenshot")