body {
  background-image: url("images/prettyStars.png");
  background-position: center calc(var(--scroll) * 0.5);

  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: #fdfdfd;
  padding: 2rem;
}

p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
}

header {
  margin: 0px auto 20px;
  text-align: center;
}

.box {
  width: 900px;
  margin: auto;
  margin-top: 70px;
  background: -webkit-linear-gradient(100deg, #ffffff44 0%, #dab6ff3f 100%);
  padding: 5px 40px 20px; /*top, sides, bottom*/
  border-radius: 20px;
}
.container {
  display: flex;
  margin: auto;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
}
.container .box {
  margin: auto;
  margin-top: 70px;
  max-width: 55%;
}



img {
  border-radius: 8px;
  margin: 0 auto;
}
.face {
  width: 400px;
}
.ss {
  margin: 30px auto;
  margin-top: 70px;
  max-width: 40%;
}
video {
  border-radius: 8px;
  margin: 30px auto;
  margin-top: 70px;
  max-width: 50%;
}
video.big {
  max-width: 60%;
}


.project {
  width: 1100px;
  margin: auto;
  margin-top: 70px;
  background: -webkit-linear-gradient(100deg, #ffffff44 0%, #dab6ff3f 100%);
  padding: 25px;
  border-radius: 20px;
  color: #fdfdfd;
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  gap: 8%;
}
.project div {
  width: 50%;
  margin: 0, 20px;
  float: left;
  flex-grow: 2;
}
.project img {
  width: 40%;
  margin: 0, 20px;
  float: left;
}
.project video {
  width: 40%;
  margin: 0, 20px;
  float: left;
}
.project:hover {
  background: -webkit-linear-gradient(100deg, #ffffff6b 0%, #dbb6ff63 100%);
  color: #eddaff;
}



.box a {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  color: #ddbcfd;
}
.box a:hover {
  color: #aa50ff;
}

.bySide {
  display: inline-block;
  margin-right: 40px;
}