body {
  background-image: url("images/prettyStars.png");
  background-position: center calc(var(--scroll) * 0.5);

  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: #fdfdfd;
  padding: 2rem;
}

p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
}

header {
  margin: 0px auto 20px;
  text-align: center;
}

.box {
  width: 900px;
  margin: auto;
  margin-top: 70px;
  background: -webkit-linear-gradient(100deg, #ffffff44 0%, #dab6ff3f 100%);
  padding: 5px 40px 20px; /*top, sides, bottom*/
  border-radius: 20px;
}
.container {
  display: flex;
  margin: auto;
  width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
}
.container .box {
  margin: auto;
  margin-top: 70px;
}

img {
  border-radius: 8px;
  margin: 0 auto;
}
img.face {
  width: 400px;
}

a {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  color: #ddbcfd;
}

.bySide {
  display: inline-block;
  margin-right: 40px;
}